.main-block {
  position: relative;
  // overflow: hidden;
  // background-image: url(../img/main-block__fon.jpg);
  // background-position: center;
  // background-repeat: no-repeat;
}
.main-block__fon {
  width: 100%;
  height: 100%;
  // width: 100%;
  // height: 100%;
  // z-index: -1;
}
.main-block__fon__img {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  // object-fit: cover;
  // object-position: right;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // object-fit: cover;
  object-position: right;
}
.main-block__fon__img-home {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
}

.main-block_container {
  max-width: 980px;
  position: relative;
  z-index: 1;
}

.main-block_container.main-block__active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 50px;
  background-color: $colorBlack;
  transform: translate(100%, 0px);
  transition: all 0.3s;
}
.main-block__content {
  padding-top: 253px;
  padding-bottom: 240px;
  display: grid;
  grid-gap: 20px;
}
.after-title {
  @include font($fontMontserrat-Light, 16px, 19.5px);
  opacity: 0.5;
}
.main-block__title-text {
  position: relative;
  @include font($fontMontserrat-Bold, 60px, 110%);
  max-width: 327px;
}
.main-block__title-text::after {
  content: "9.5M B";
  position: absolute;
  top: 10px;
  right: -15px;
  width: max-content;
  height: max-content;
  color: $colorWhite;
  @include font($fontMontserrat-Medium, 18px, 120%);
  padding: 10px;
  background: #026d00;
  border-radius: 12px;
  transform: rotate(17.23deg);
}
.main-block__suptitle {
  @include font($fontMontserrat-Light, 18px, 22px);
  font-style: normal;
  letter-spacing: 1px;
  // color:  rgb(0%, 0%, 0%, 0.5);
}

.button_main-block {
  padding: 12px 64px;
}
/* ******************** menu ********************* */

.header__menu {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  width: 40%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: $colorBlack;
  z-index: 10;
}
// .header__menu::after {
//   position:absolute;
//   top : 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: black;
//   content:"";
//   pointer-events: none;
//   z-index:100;
//   opacity: 0.5
// }

.header__menu.active {
  display: block;
  right: 0;
  padding-top: 160px;
  padding-right: 20px;
  height: 656px;
}
.header__menu {
  text-align: end;
}
.menu__list {
  padding-bottom: 200px;
  @include grid(1fr, auto);
  grid-gap: 28px;
}
.manu__item {
  a {
    color: $colorWhite;
  }
  @include font($fontMontserrat-Regular, 16px, 125%);
}
.manu__body {
  height: 100%;
}
.main-block__fon-cloud {
  display: none;
}
@media (max-width: 768px) {
  .main-block__content {
    position: relative;
  }
  .main-block__fon-cloud {
    display: inherit;
    position: absolute;
    top: 95px;
    left: -18px;
    z-index: -1;
  }
  .main-block_after-title {
    font-size: 12px;
  }
  .main-block__title-text {
    font-size: 30px;
    max-width: 170px;
  }
  .main-block__title-text::after {
    font-size: 12px;
    top: 0px;
    right: -30px;
  }
  .main-block__suptitle {
    font-size: 14px;
  }
  .main-block__content {
    padding-top: 134px;
  }
  .header__menu {
    width: 100%;
    text-align: center;
    padding-top: 160px;
  }

  .header__menu.active {
    padding-right: 0px;
  }
}
.after-title_design {
  text-align: center;
}
.title_design {
  text-align: center;

  @include fontMontserratBold(40px, 100%);
  max-width: 660px;
  margin: 0 auto;
  margin-top: 10px;
}
.design__body {
  margin-top: 30px;
  @include grid(1fr 1fr 1fr, 1fr);
  grid-gap: 30px;
}
.design__block {
  margin-bottom: 100px;
}
.text {
  @include fontMontserratLight(16px, 150%);
}
.design__block-1 {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.design__img-p {
  position: relative;
  width: 100%;

  height: 500px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.design__img__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  background-color: #026d00;
}
.design__img__text {
  color: $colorWhite;
  @include fontMontserratLight(14px, 100%);
}
.design__text-strong {
  margin-top: 30px;
  @include fontMontserratBold(16px, 100%);
  color: #026d00;
}
.design__text-2 {
  margin-top: 15px;
}
.design__block-2__body {
  margin-top: 30px;
  width: max-content;
}
.design__block-2__items {
  @include grid(1fr 1fr, auto);
  grid-gap: 30px;
}
.design__block-2__number {
  @include fontMontserratBold(40px, 100%);
  color: #026d00;
}
.design__block-2__item {
  max-width: 100px;
  text-align: center;
}
.title_design-2 {
  max-width: 400px;
}
.s-located {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: -50px;
    background-image: url(../img/rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 480px;
    height: 100%;
    background-size: 85%;
  }
}
.s-located__body {
  padding-left: 100px;
  max-width: 560px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  padding-bottom: 50px;
}
.s-located__bottom {
  @include grid(2fr 1fr, 1fr);
}
.s-located__a-left {
  padding-left: 30px;
  padding-right: 30px;
}
.s-located__a-right {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  // width: 100%;

  padding: 0px 16px;
  @include fontMontserratMedium(14px, 100%);
  color: #026d00;
  outline: 1px solid #026d00;
  height: 100%;
  border-radius: 12px;
  padding-right: 25px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 13px;
    right: 16px;
    background-image: url(../img/svg/right-green.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
.s-plans {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.s-plans__tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  overflow: inherit !important;
  // width: 800px;
}
.tabs-triggers {
  // width: 800px !important;
  @include grid((repeat(5, 1fr)), 1fr);
  justify-content: space-around;
  z-index: 10 !important;
}
.s-pans__item {
  width: 100%;
  // background-color: red;
}
.tabs-triggers__item {
  min-width: max-content;
  @include fontMontserratRegular(16px, 100%);
  position: relative;
  color: $colorBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30px;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.1;
    background-color: #026d00;
  }
}

.s-plans__left {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  padding-top: 40px;
}
.s-plans__table {
  width: max-content;
}

.s-plans__td-p {
  text-transform: uppercase;
  @include fontMontserratLight(16px, 100%);
}
.tabs {
  // border: 1px solid #e0e0e0;
  // max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background: #fafafa;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.tabs__btn {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: black;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid transparent;
  cursor: pointer;
}

.tabs__btn_active {
  background: #e0e0e0;
  cursor: default;
}

.tabs__btn:not(.tabs__btn_active):hover,
.tabs__btn:not(.tabs__btn_active):focus {
  background-color: #eee;
}

.tabs__content {
  padding: 1rem;
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}

/* ****************************************** */
.tabs-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 25px;
}

.tabs {
  display: flex;
}

.tabs li:not(:last-child) {
  margin-right: 7px;
}

.tabs li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  // background: white;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
  opacity: 1;
  top: 0;
}
.tabs li.active a {
  font-weight: 500;
  color: #1a1f15;
}

.tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
  // background: white;
}

.tabs-panel {
  display: none;
  &::after {
    content: none;
  }
}

.tabs-panel.active {
  display: block;
}

.tabs-panel p + div {
  margin-top: 15px;
}
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  // opacity: 0.5;
  border: 1px solid #1a1f15;
  border-radius: 8px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  // border-color: #0b76ef;
  // background-color: #0b76ef;
  background-image: url("../img/svg/checked.svg");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

@media screen and (max-width: 600px) {
  .tabs {
    flex-direction: column;
  }

  .tabs li {
    width: 100%;
  }

  .tabs li:not(:last-child) {
    margin-right: 0;
  }

  .tabs li a {
    border-radius: 0;
    opacity: 1;
    top: 0;
  }

  .tabs li.active a::before {
    content: "•";
    padding-right: 5px;
  }

  .tabs-content {
    border-radius: 0;
  }
}

/* ********************** */
.s-plans__td {
}
.s-plans__td-p {
  &:first-child {
    padding: 10px;
    padding-left: 0px;
  }
}
.s-plans__tr {
  td {
    &:first-child {
      padding-right: 30px;
    }
  }
}
.main-cuptitle {
  @include fontMontserratBold(30px, 100%);
}
.tabs-content__item {
  display: flex;
  justify-content: space-between;
  grid-gap: 50px;
  // width: 800px;
  padding-left: 200px;
  margin: 0 auto;
  position: relative;
  &::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: -26%;
    z-index: -1;
    width: max-content;
    height: 100%;
    color: #026d00;
    opacity: 0.05;
    font-weight: 700;
    font-size: 600px;
    line-height: 100%;
  }
}

.tabs-1 {
  &::after {
    content: "01";
  }
}
.tabs-2 {
  &::after {
    content: "02";
  }
}
.tabs-3 {
  &::after {
    content: "03";
  }
}
.tabs-4 {
  &::after {
    content: "04";
  }
}
.tabs-5 {
  &::after {
    content: "05";
  }
}

.s-plans__right__body {
  margin-right: 60px;
}
.s-plans__right__b-img {
  margin-left: 150px;
  img {
    object-fit: contain;
  }
}
.tab-2_p {
  display: block;
  width: 24px;
  height: 100%;
  // background-color: red;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/svg/Vector-tab-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.construction {
  // height: 50px;
  display: flex;
  flex-direction: column;
  // grid-gap: 30px;
  .title {
  }
}
.construction__body {
  padding-bottom: 150px;
  position: relative;
  padding: 60px;
  background: #daeef0;
  border-radius: 50px;
}
.construction__swiper {
}
.construction__items {
}
.construction__b-img {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 50px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.construction_pagination {
  grid-gap: 10px;
  display: flex;
  grid-gap: 10px;
  .swiper-pagination-bullet {
    background-color: #026d00;
    display: block;
  }
}
.swiper-p__bottom {
  display: flex;
  justify-content: center;
  width: 100%;

  height: max-content;
  padding-top: 20px;
  margin: 0 auto;
}

.contacts {
  margin-top: 120px;
}
.contacts__body {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 30px;
}
.contacts-l__body {
  display: block;
  position: relative;
  width: 100%;
  height: 650px;
  border-radius: 50px;
  overflow: hidden;
}
.contacts-l__map {
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
.contacts__r__body {
  display: flex;
  flex-direction: column;
  grid-gap: 60px;
}
.contacts__r__block .title_design {
  text-align: start;
  padding: 0;
  margin: 0;
}
.contacts__r__block {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.contacts__r__tell {
  display: flex;
  grid-gap: 20px;

  @include fontMontserratMedium(16px, 100%);
  position: relative;
  padding-left: 30px;
  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/tell.svg);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
  }
}
.contacts__r__email {
  position: relative;
  padding-left: 30px;
  &::after {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/email.svg);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
  }
}
.contacts__r__span {
  @include fontMontserratLight(16px, 100%);
}
.contacts__r__tells {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.enquire {
  margin-top: 100px;
  @include grid(max-content 1fr, 1fr);
  grid-gap: 40px;
  margin-left: 150px;
}
.enquire__body {
  @include grid(1fr 1fr, auto);
  grid-gap: 15px;
  grid-template-areas:
    "aa bb"
    "cc bb";
  .enquire__input-b:nth-child(1) {
    grid-area: aa;
  }
  .enquire__input-b:nth-child(2) {
    grid-area: bb;
    height: 100%;
  }
  .enquire__input-b:nth-child(3) {
    grid-area: cc;
  }
}
.enquire__input-b {
  width: 100%;
  height: 48px;
  .enquire__input {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0 15px;
    opacity: 0.5;
    height: 100%;
    border: 1px solid #1a1f15;
    border-radius: 12px;
    display: block;
    background-color: transparent;
  }
}
.enquire__button {
  width: 100%;
}
.footer {
  background: #1a1f15;
  color: white;
  // margin-top: 40px;
}
.footer__body {
  padding: 40px 0;
  display: flex;

  justify-content: space-between;
}
.footer__ul {
  @include grid(1fr 1fr, auto);
  grid-row-gap: 20px;
  grid-column-gap: 80px;
}
.footer__li {
  a {
    color: white;
    @include fontMontserratLight(16px, 100%);
  }
}
.footer__last {
  max-width: 205px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.footer__button {
  width: 100%;
  background-color: white;
  color: black;
}
.footer__text {
  text-align-last: right;
  @include fontMontserratLight(14px, 100%);
}
.wrapper {
  // position: relative;
}
.s-enquire {
  position: relative;
  padding-bottom: 40px;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 300px;
    height: 177px;
    background-image: url(../img/1.svg);
    background-repeat: no-repeat;
    // background-color: red;
  }
}
.contacts__body {
  position: relative;
  padding-bottom: 40px;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 41%;
    width: 160px;
    height: 140px;
    background-image: url(../img/2.svg);
    background-repeat: no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -16%;
    right: -15%;
    width: 430px;
    height: 330px;
    background-image: url(../img/3.svg);
    background-repeat: no-repeat;
  }
}
.contacts__right {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -43%;
    width: 390px;
    height: 490px;
    background-image: url(../img/4.svg);
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.05;
  }
}
.construction {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0%;
    width: 190px;
    height: 140px;
    background-image: url(../img/5.svg);
    background-repeat: no-repeat;
  }
}
.s-plans {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0%;
    width: 380px;
    height: 230px;
    background-position-y: bottom;
    background-image: url(../img/6.svg);
    background-repeat: no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -81px;
    right: -3%;
    width: 160px;
    height: 140px;
    background-image: url(../img/2.svg);
    background-repeat: no-repeat;
  }
}
.title_design-2 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -55%;
    width: 160px;
    height: 140px;
    background-image: url(../img/2.svg);
    background-repeat: no-repeat;
  }
}
.s-located__section {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 31%;
    width: 190px;
    height: 140px;
    background-image: url(../img/7.svg);
    background-repeat: no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0%;
    width: 480px;
    height: 410px;

    background-position-x: center;
    background-image: url(../img/9.svg);
    background-repeat: no-repeat;
    opacity: 0.05;
  }
}
.s-located__body {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -48%;
    width: 415px;
    height: 350px;
    background-position-x: center;
    background-image: url(../img/8.svg);
    background-repeat: no-repeat;
  }
}

.mb__svg-4 {
  position: absolute;
  top: -0px;
  left: -32%;
  width: 1000px;
  height: 440px;
  background-position-y: center;
  background-image: url(../img/14.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.design__block-2__items {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    bottom: -178px;
    right: -250%;
    width: 1000px;
    height: 440px;
    background-position-y: center;
    background-image: url(../img/14.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.design_container .title_design {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -0px;
    left: -50%;
    width: 190px;
    height: 140px;
    background-image: url(../img/11.svg);
    background-repeat: no-repeat;
  }
}
.design__block-1 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -0px;
    left: -30%;
    width: 190px;
    height: 140px;
    background-image: url(../img/12.svg);
    background-repeat: no-repeat;
  }
}
.main-block__content {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -0px;
    left: -45%;
    width: 1000px;
    height: 440px;
    background-position-y: center;
    background-image: url(../img/14.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 180px;
    left: 16%;
    width: 190px;
    height: 140px;
    background-image: url(../img/12.svg);
    background-repeat: no-repeat;
  }
}
.s-main-block {
  position: relative;
}
.mb__svg-1 {
  content: "";
  position: absolute;
  top: 0px;
  left: -6%;
  width: 300px;
  height: 390px;
  background-image: url(../img/13.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
.mb__svg-3 {
  content: "";
  position: absolute;
  top: 0px;
  left: 10%;
  width: 380px;
  height: 390px;
  background-image: url(../img/15.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .design__body {
    display: flex;
    flex-direction: column;
  }
  .tabs-content__item {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .enquire {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .enquire__body {
    display: flex;
    flex-direction: column;
  }
  .contacts__body {
    display: flex;
    flex-direction: column;
  }
  .tabs-triggers {
    display: flex;
    flex-direction: row;
  }
  .s-located__body {
    padding-left: 0;
    .text:first-child {
      padding-bottom: 200px;
    }
  }
  .s-located::before {
    width: 100%;
    height: 200px;
    top: 31%;
  }
  .title_design {
    font-size: 24px;
  }
  .main-cuptitle {
    font-size: 20px;
  }
  .text {
    font-size: 12px;
  }
  .tabs-1::after {
    font-size: 300px;
    top: -30%;
  }
  .s-plans__right__b-img {
    margin-left: 0;
  }
  .s-plans__right__b-img {
    img {
      width: 100%;
      height: auto;
    }
  }
  .s-plans__td-p {
    font-size: 12px;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
  }
  .footer__ul {
    display: flex;
    flex-direction: column;
  }
  .s-located__bottom {
    display: flex;
    flex-direction: column;
  }
  .tabs-triggers {
    display: none !important;
  }
}
